﻿@model  PWDomain.Models.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html lang="en">

<body class="">
    <div class="content">
        <div class="container-fluid">
            <span id="saved"></span>
            <div class="row">
                <div class="col-md-8">
                    @if (Model.Id == 0)
                    {
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Add User</h4>
                                <p class="card-category">Enter user details</p>
                            </div>
                            <div class="card-body">
                                <form id="myForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Fist Name</label>
                                                <input id="fname" name="fname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Last Name</label>
                                                <input id="lname" name="lname" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @*<div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company (disabled)</label>
                                                    <input type="text" class="form-control" disabled>
                                                </div>
                                            </div>*@
                                        @*<div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Username</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>*@
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Email address</label>
                                                <input id="email" name="email" type="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Password</label>
                                                <input id="password" name="password" type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Phone</label>
                                                <input id="phone" name="phone" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Role</label>
                                                <select name="role" id="roleid" class="form-control">
                                                    <option value="0">Select</option>
                                                    <option value="1">Admin</option>
                                                    <option value="2">Editor</option>
                                                    <option value="3">Viewer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="submit" class="btn btn-primary pull-right">Add User</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    }

                    else
                    {
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Edit User</h4>
                                <p class="card-category">Enter user details</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Fist Name</label>
                                                <input id="fname" value="@Model.fname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Last Name</label>
                                                <input id="lname" value="@Model.lname" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Email address</label>
                                                <input id="email" value="@Model.email" type="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Password</label>
                                                <input id="password" value="@Model.password" type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Phone</label>
                                                <input id="phone" value="@Model.Phone" type="number" maxlength="10" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Role</label>
                                               
                                                @*<select id="roleid" class="form-control">
                                                    <option value="1" selected="@Model.RoleId == 1">Admin</option>
                                                    <option value="2" selected="@Model.RoleId == 2">Editor</option>
                                                    <option value="3" selected="@Model.RoleId == 3">Viewer</option>
                                                </select>*@

                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Dropdown button
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" id="submit" class="btn btn-primary pull-right">Add User</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    @*<script src="~/Content/assets/js/core/jquery.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function submit() {

            var SendInfo = {"fname": $("#fname").val(), "lname": $("#lname").val(), "email": $("#email").val(), "password": $("#password").val(), "Phone": $("#phone").val(),"Id":@Model.Id,"RoleId":$("#roleid").val() };
            $.ajax({
                type: "POST",
                url: "/Dashboard/Adduser",
                data: JSON.stringify(SendInfo),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (data) {
                    $("#saved").html('<div style="background-color:lightgreen;width:64%;" class="alert"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>User successfully added.</div>');

                }
            });
        }

        $(document).ready(function () {
            $().ready(function () {

                $("#adduser").addClass('active');

                $('#myForm').validate({
                    rules: {
                        fname: {
                            required: true
                        },
                        lname: {
                            required: true
                        },
                        email: {
                            required: true
                        },
                        password:{
                        required:true
                        },
                        phone:{
                            required: true,
                            number: true,
                            maxlength: 10
                          },
                        role:{
                        required: true
                        }
                    },
                    messages: {
                        fname: {
                            required: "First Name is required."
                        },
                        lname: "Last Name is required."

                    },
                    submitHandler: function (e) {
                        submit();
                    }
                });

            });
        });
    </script>
</body>
</html>