﻿@{
  Layout =  "~/Views/Shared/_Layout.cshtml";
 }

<!DOCTYPE html>
<html lang="en">

<body class="">
    <div class="content">
        <div class="container-fluid">
          <div class="row">
  <h2>Dashboard</h2>
          </div>

        </div>
      </div>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dashboard").addClass('active');
        })

    </script>
 </body>

</html>