﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>PW Web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->
    <!-- jquery.js -->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
   
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
           
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Content/images/Digital-Logo.jpg" alt="IMG">
                </div>

                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        Admin Login
                    </span>
                    <span id="invalid"></span>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @*<input type="text" required="required" id="LoginEmailId" class="field use" placeholder="Email" />*@
                        <input class="input100" type="text" required="required" name="email" id="LoginEmailId" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @*<input type="password" required="required" id="LoginPasswrd" class="field pass" placeholder="Password" />*@
                        <input class="input100" type="password" required="required" name="pass" id="LoginPasswrd" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="button" id="lognbtn" class="login100-form-btn">
                            Login
                        </button>
                        @*<a href="/Dashboard/AddUser" class="login100-form-btn">Login</a>*@
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>


                </form>


            </div>
        </div>
    </div>



  
  
    @Scripts.Render("~/bundles/jqueryval")
    <!------ Include the above in your HEAD tag ---------->
    <script src="~/Content/vendor/tilt/tilt.jquery.min.js"></script>
       <!--===============================================================================================-->
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->

  
    <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/js/main.js"></script>
    <script type="text/javascript">
    $(document).ready( function() {

        //$("#login").click(function () {
        //    if ($("#email").val() == null) {
        //        alert("Please enter email");
        //    }
        //    if ($("#pass").val() == null) {
        //        alert("Please enter password");
        //    }
        //    var SendInfo = { "email": $("#email").val(), "password": $("#pass").val() };
        //    $.ajax({
        //        type: "GET",
        //        url: "/Account/LoginUser",
        //        data: JSON.stringify(SendInfo),
        //        contentType: "application/json; charset=utf-8",
        //        traditional: true,
        //        success: function (data) {
        //            debugger;
        //            if (data == "NotExist") {
        //                alert("Invalid email or password");
        //            }
        //            else {
        //                window.location.href = "/Dashboard/AddNewUser";
        //            }

        //        }
        //    });
        //});


        $("#lognbtn").click(function () {

              var SendInfo = { "email": $("#LoginEmailId").val(), "password": $("#LoginPasswrd").val() };
            $.ajax({
                type: "POST",
                url: "/Account/LoginUser",
                data: JSON.stringify(SendInfo),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (data) {
                   // $("#saved").html('<div class="alert alert-danger fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>User successfully added.</div>');
                    if (data == "NotExist") {
                        $("#invalid").html('<div style="background-color:#dc3434;width:97%;" class="alert"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Invalid email/password.</div>');
                    }
                    else {
                        window.location.href = "/Dashboard/AddNewUser/";
                    }
                },
               failure: function (response) {  
                        alert(response.d);  
                    }
                   
            });

        });

    });

    </script>
</body>
</html>
