﻿@model IList<PWDomain.Models.UserViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viewuser";
}

<!DOCTYPE html>
<html lang="en">
<body class="">
 
             <div class="content">
                <div class="container-fluid">
                    <div class="row">
                       
                        <div class="col-md-12">
                            <span id="deleted"></span>
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">User List</h4>
                                 </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Role
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@item.fname @item.lname</td>
                                                        <td>@item.email</td>
                                                        <td>@item.Phone</td>
                                                        <td>@item.Role</td>
                                                        <td><a href="/Dashboard/AddNewUser?Id=@item.Id"><img src="~/Content/images/icons/edit.png" style="height:20px;width:20px;" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<img id="delete_@item.Id" src="~/Content/images/icons/delete.png" style="height:20px;width:20px;" data-userid="@item.Id" /></td>                                                     
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
 <script>
     $(document).ready(function () {
         $().ready(function () {
             $("#userlist").addClass('active');

             $('[id^="delete_"]').click(function () {

                 var delbtn = $(this);
                 if (confirm('Are you sure you want to delete this?')) {
                     $.post("/Dashboard/Delete?Id=" + $(this).attr('data-userid'), function () { $("#deleted").html('<div style="background-color:lightgreen;width:42%;" class="alert"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>User deleted successfully.</div>'); $(delbtn).closest('tr').remove(); })
                 }
             });
         });
     })
 </script>
</body>
</html>