﻿@model IList<PWDomain.Models.UserViewModel>
@{
    ViewBag.Title = "Viewuser";
}

<h2>Viewuser</h2>

<table style="width:700px;" class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th> Email</th>
            <th>Phone</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.fname</td>
                <td>@item.lname</td>
                <td>@item.email  </td>
                <td>@item.Phone</td>
                <td>@item.password</td>

            </tr>
        }
    </tbody>

</table>

